body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
}

canvas {
    border: solid 2px;
    // border-color: red;
    background-color: beige;
}

h1 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.music-note-sequence {
    margin-top: 30px;
    margin-bottom: 30px;
}

.middle-row {
    display: flex; 
    // justify-content: flex-start;
}

h3 {
    position: absolute;
    margin-left: 0;
}