body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // font-family: 'Courier New', monospace;
}

canvas {
    border: solid 2px;
    // border-color: red;
    background-color: beige;
}

h1 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.music-note-sequence {
    // margin-top: 30px;
    // margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-row {
    display: flex; 
    justify-content: center;
}

.instructions {
    position: absolute;
    left: 2%;
    border: solid black;
    padding: 10px;
}

.instructions > ul {
    padding: 1px;
    margin-top: 10%;
}

.instructions > ul > li {
    padding: 10px;
}

.hidden { 
    display: none;
}

.settings {
    display: flex;
    justify-content: space-around;
}